{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Apollo Hospital</title>
</head>
<body style="background:linear-gradient(30deg,pink,rgb(235, 24, 5))">
    <img src="{% static 'Apollo.png' %}" width="20%" height="5%" border="5px" 
         style="margin-left:auto;margin-right:auto;display:block"> 
    <center>
        <h1>Apollo Hospital</h1>
        <h2 align="left">
        <pre>
Type: Multi-Speciality Hospital
Address: No. 13, 1st Floor, Thiruvottiyur High Road, Tondiarpet, Chennai - 600081
Website: https://www.apollohospitals.com
About:
Apollo Hospitals in Tondiarpet is part of the renowned Apollo group, 
offering advanced healthcare facilities, emergency care, 
multi-speciality treatments, and diagnostic services. 
It is one of the trusted hospitals in North Chennai.
        </pre>
        </h2>
    </center>
</body>
</html>