{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>CORPORATION COLONY 3RD STREET</title>
    </head>
    <body style="background:linear-gradient(30deg,pink,blue)">
    <img src="{% static 'Home.png' %}" width="20%" height="5%" border="5px" style="margin-left:auto;margin-right:auto;display:block">
    <center>
        <h1>MY HOME</h1>
        <h2 align=left>
        <pre>
Type: Residential Area
Address: 3rd Street, Corporation Colony, Tondiarpet, Chennai, Tamil Nadu 600081
Website: -
About:
A residential locality in Tondiarpet, well connected with nearby hospitals, 
restaurants and metro stations.
        </pre>
        </h2>
    </center>
</body>
</html>
