{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ovenstory Pizza</title>
</head>
<body style="background:linear-gradient(30deg,pink,#ff6200)">
    <img src="{% static 'Ovenstorypizza.png' %}" width="20%" height="5%" border="5px" 
         style="margin-left:auto;margin-right:auto;display:block"> 
    <center>
        <h1>Ovenstory Pizza</h1>
        <h2 align="left">
        <pre>
Type: Pizza Outlet
Address: Ellaya Street, Tondiarpet, Chennai - 600081
Website:https://www.ovenstory.in
About:
Ovenstory Pizza is known for its delicious cheesy pizzas 
with a wide variety of bases and toppings. 
Located in Tondiarpet, it is a favorite spot for 
quick bites and home deliveries.
        </pre>
        </h2>
    </center>
</body>
</html>
