<!DOCTYPE html>
<html>
<head>
    <title>SS Hyderabad Biryani</title>
    {% load static %}
</head>
<body style="background:linear-gradient(30deg,pink,#eff708)">
    <img src="{% static 'SShyderabad.png' %}" width="20%" height="10%" border="5px" 
         style="margin-left:auto;margin-right:auto;display:block"> 
    <center>
        <h1>SS Hyderabad Biryani</h1>
        <h2 align="left">
        <pre>
Type: Restaurant
Address: No. 128, Thiruvottiyur High Road, Tondiarpet, Chennai - 600081
About:
SS Hyderabad Biryani is a popular restaurant chain in Chennai, 
famous for its flavorful biryanis, curries, and South Indian delicacies. 
The Tondiarpet branch is a go-to spot for food lovers craving authentic taste.
        </pre>
        </h2>
    </center>
</body>
</html>
