{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Washermenpet Metro Station</title>
</head>
<body style="background:linear-gradient(30deg,pink,blue)">
    <img src="{% static 'WashermenpetMetro.png' %}" width="20%" height="5%" border="5px" 
         style="margin-left:auto;margin-right:auto;display:block"> 
    <center>
        <h1>Washermenpet Metro Station</h1>
        <h2 align="left">
        <pre>
Type: Metro Station
Address: Washermenpet, Thiruvottiyur High Road, Chennai - 600021
Website: https://chennaimetrorail.org
About:
Washermenpet Metro is an important underground station on the 
Chennai Metro Blue Line. It connects North Chennai to major parts 
of the city, making travel faster and more convenient.
        </pre>
        </h2>
    </center>
</body>
</html>
